<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normal_kicks</key>
	<dict>
		<key>Round Kick</key>
		<dict>
			<key>name</key>
			<string>Round Kick</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Hook Kick</key>
		<dict>
			<key>name</key>
			<string>Hook Kick</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Frontsweep</key>
		<dict>
			<key>name</key>
			<string>Frontsweep</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Backsweep</key>
		<dict>
			<key>name</key>
			<string>Backsweep</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Touch Down Round</key>
		<dict>
			<key>name</key>
			<string>Touch Down Round</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
	</dict>
	<key>pop_kicks</key>
	<dict>
		<key>Pop Tornado</key>
		<dict>
			<key>name</key>
			<string>Pop Tornado</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Pop 360</key>
		<dict>
			<key>name</key>
			<string>Pop 360</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Backside 900</key>
		<dict>
			<key>name</key>
			<string>Backside 900</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Pop 720 Hook</key>
		<dict>
			<key>name</key>
			<string>Pop 720 Hook</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
	</dict>
	<key>cheat_kicks</key>
	<dict>
		<key>Tornado</key>
		<dict>
			<key>name</key>
			<string>Tornado</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
		</dict>
		<key>Parafuso</key>
		<dict>
			<key>name</key>
			<string>Parafuso</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>540</key>
		<dict>
			<key>name</key>
			<string>540</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Cheat 720</key>
		<dict>
			<key>name</key>
			<string>Cheat 720</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Jack Knife</key>
		<dict>
			<key>name</key>
			<string>Jack Knife</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
		<key>Cheat 900</key>
		<dict>
			<key>name</key>
			<string>Cheat 900</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
		</dict>
	</dict>
	<key>swing_kicks</key>
	<dict/>
	<key>flat_spins</key>
	<dict/>
	<key>flat_twists</key>
	<dict/>
	<key>backward_flips</key>
	<dict/>
	<key>backward_twists</key>
	<dict/>
	<key>forward_flips</key>
	<dict/>
	<key>forward_twists</key>
	<dict/>
	<key>outside_flips</key>
	<dict/>
	<key>outside_twists</key>
	<dict/>
	<key>inside_tricks</key>
	<dict/>
</dict>
</plist>
