<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normal_kicks</key>
	<dict>
		<key>Round Kick</key>
		<dict>
			<key>name</key>
			<string>Round Kick</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Hook Kick</key>
		<dict>
			<key>name</key>
			<string>Hook Kick</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Frontsweep</key>
		<dict>
			<key>name</key>
			<string>Frontsweep</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Backsweep</key>
		<dict>
			<key>name</key>
			<string>Backsweep</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Touch Down Round</key>
		<dict>
			<key>name</key>
			<string>Touch Down Round</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>pop_kicks</key>
	<dict>
		<key>Pop 360</key>
		<dict>
			<key>name</key>
			<string>Pop 360</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Backside 900</key>
		<dict>
			<key>name</key>
			<string>Backside 900</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>cheat_kicks</key>
	<dict>
		<key>Tornado</key>
		<dict>
			<key>name</key>
			<string>Tornado</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>540</key>
		<dict>
			<key>name</key>
			<string>540</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Cheat 720</key>
		<dict>
			<key>name</key>
			<string>Cheat 720</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Jack Knife</key>
		<dict>
			<key>name</key>
			<string>Jack Knife</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>4</integer>
		</dict>
		<key>Cheat 900</key>
		<dict>
			<key>name</key>
			<string>Cheat 900</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>2</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>swing_kicks</key>
	<dict>
		<key>Step Over Hook</key>
		<dict>
			<key>name</key>
			<string>Swing Hook</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>flat_spins</key>
	<dict>
		<key>Butterfly Kick</key>
		<dict>
			<key>name</key>
			<string>Butterfly Kick</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Machine</key>
		<dict>
			<key>name</key>
			<string>Machine</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Spider</key>
		<dict>
			<key>name</key>
			<string>Spider</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>flat_twists</key>
	<dict>
		<key>Btwist</key>
		<dict>
			<key>name</key>
			<string>Btwist</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Btwist Round</key>
		<dict>
			<key>name</key>
			<string>Btwist Round</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>2</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Btwist Hyper Hook</key>
		<dict>
			<key>name</key>
			<string>Btwist Hyper Hook</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>backward_flips</key>
	<dict>
		<key>Back Hand Spring</key>
		<dict>
			<key>name</key>
			<string>Back Hand Spring</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Back Tuck</key>
		<dict>
			<key>name</key>
			<string>Back Tuck</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Flash Kick</key>
		<dict>
			<key>name</key>
			<string>Flash Kick</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Arabian</key>
		<dict>
			<key>name</key>
			<string>Arabian</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Cheat Gainer</key>
		<dict>
			<key>name</key>
			<string>Cheat Gainer</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<true/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Gainer Switch</key>
		<dict>
			<key>name</key>
			<string>Gainer Switch</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<true/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Moon Kick</key>
		<dict>
			<key>name</key>
			<string>Moon Kick</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<true/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>backward_twists</key>
	<dict>
		<key>Cart Full</key>
		<dict>
			<key>name</key>
			<string>Cart Full</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>4</integer>
		</dict>
		<key>Cart Full Hyper Hook</key>
		<dict>
			<key>name</key>
			<string>Cart Full</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>5</integer>
		</dict>
		<key>Full</key>
		<dict>
			<key>name</key>
			<string>Full</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Corkscrew</key>
		<dict>
			<key>name</key>
			<string>Corkscrew</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<true/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>4</integer>
		</dict>
		<key>Boxcutter</key>
		<dict>
			<key>name</key>
			<string>Boxcutter</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>4</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<true/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>forward_flips</key>
	<dict>
		<key>Dive Roll</key>
		<dict>
			<key>name</key>
			<string>Dive Roll</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Reversao</key>
		<dict>
			<key>name</key>
			<string>Reversao</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Front Tuck</key>
		<dict>
			<key>name</key>
			<string>Front Tuck</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Webster</key>
		<dict>
			<key>name</key>
			<string>Dive Roll</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Cart Front</key>
		<dict>
			<key>name</key>
			<string>Cart Front</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>4</integer>
		</dict>
		<key>Round Off</key>
		<dict>
			<key>name</key>
			<string>Round Off</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Gymnast Cartwheel</key>
		<dict>
			<key>name</key>
			<string>Gymnast Cartwheel</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>forward_twists</key>
	<dict>
		<key>360 Dive Roll</key>
		<dict>
			<key>name</key>
			<string>360 Dive Roll</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>4</integer>
		</dict>
		<key>A-twist</key>
		<dict>
			<key>name</key>
			<string>A-twist</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>3</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>outside_flips</key>
	<dict>
		<key>Parafuso</key>
		<dict>
			<key>name</key>
			<string>Parafuso</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Dleg</key>
		<dict>
			<key>name</key>
			<string>Dleg</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Gumbi</key>
		<dict>
			<key>name</key>
			<string>Gumbi</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Raiz</key>
		<dict>
			<key>name</key>
			<string>Raiz</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>TDR</key>
		<dict>
			<key>name</key>
			<string>TDR</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>outside_twists</key>
	<dict>
		<key>Snapu</key>
		<dict>
			<key>name</key>
			<string>Snapu</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>5</integer>
		</dict>
		<key>Sideswipe</key>
		<dict>
			<key>name</key>
			<string>Sideswipe</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>inside_tricks</key>
	<dict>
		<key>Sideflip</key>
		<dict>
			<key>name</key>
			<string>Sideflip</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Frisbee</key>
		<dict>
			<key>name</key>
			<string>Frisbee</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Cartwheel</key>
		<dict>
			<key>name</key>
			<string>Cartwheel</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>1</integer>
		</dict>
		<key>Helicoptero</key>
		<dict>
			<key>name</key>
			<string>Helicoptero</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>3</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>3</integer>
		</dict>
		<key>Aerial</key>
		<dict>
			<key>name</key>
			<string>Aerial</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Aerial Hook</key>
		<dict>
			<key>name</key>
			<string>Aerial Hook</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>1</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<false/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Scoot</key>
		<dict>
			<key>name</key>
			<string>Scoot</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
		<key>Master Scoot</key>
		<dict>
			<key>name</key>
			<string>Master Scoot</string>
			<key>isActive</key>
			<true/>
			<key>take_off_stance</key>
			<integer>1</integer>
			<key>landing_stance</key>
			<integer>4</integer>
			<key>requires_swing</key>
			<false/>
			<key>can_swing_on_landing</key>
			<true/>
			<key>finisherStatus</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
